@{
    ViewData["Title"] = "Home Page";
}

 <!--row 1-->
<div class="row">
    <div class="col-lg-12">
        <h1>Sales Dashboard</h1>
    </div>
</div>

<!--row 2-->
<div class="row">

    <!--chart 1-->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Quarterly Sales ($1000s)</h3>
                    </div>
                </div>
            </div>
            <canvas id="salesChart"></canvas>
        </div>
    </div>

    <!--chart 2-->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Sales Breakdown (%)</h3>
                    </div>
                </div>
            </div>
            <canvas id="salesBreakdown"></canvas>
        </div>
    </div>

</div>


<!--row 3-->
<div class="row">

    <!--chart 3-->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Profit Margin (%)</h3>
                    </div>
                </div>
            </div>
            <canvas id="profitMargin"></canvas>
        </div>
    </div>

    <!--chart 4-->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Sales Performance ($1K)</h3>
                    </div>
                </div>
            </div>
            <canvas id="salesPerformance"></canvas>
        </div>
    </div>

</div>